.links{
    background-color:hotpink;
    width:100%;
    height: 5%;
    position:fixed;
    padding-top: 20px;
}
a{
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color:white;
    font-weight:bold;
}
img{
    margin-top: 10px;
    padding:20px;
    height:100%;
    width:100%;
    background-size: cover;
}
img#img1,img#img2,img#img5{
    height:35%;
    width:35%;
}
pre{
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.5cm;
    text-align: center;
}
.name{
    font-family:garamond;
    color:rgb(235, 175, 23);
    font-size: 1cm;
}
.about{
    background-color: rgb(248, 242, 245);
    border-radius: 2px;
    border:1px solid beige;
    box-shadow: 1px 1px 3px 3px rgb(248, 248, 235);
    offset:inherit;

    text-align: justify;
    height:60%;
    padding:5px;
    font-size:.5cm;
}
.aboutimg{
    height:300px;
    width:500px;
    padding: 1px;
}
section.info2{
    margin-top: 2%;
    background-color: rgb(247, 253, 253);
    border-radius: 2px;
    border:1px solid beige;
    box-shadow: 1px 1px 3px 3px rgb(248, 248, 235);
    offset:inherit;
}
.info2{
    text-align: center;
}
